<!DOCTYPE html>
<html>
<head>
    <title>Verify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="routers/verify.js"></script>
    <link rel="stylesheet" type="text/css" href="routers/style.css">
</head>
<body>
    <h1>Verify your account</h1>
    <div class="verify_form">
    <form id="verify" action="/verify" method="post">
      Email:<br> <input id="email" type="text" placeholder="e-mail" name="email">
      <br>
      Key:<br> <input id="key" type="text" placeholder="key" name="key">
      <br>
      <input type="submit" value="Submit" />
    </form>
  </div>
</body>
</html>