body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

table {
  border-collapse: collapse;
}

td {
  border: 6px solid #222;
  height: 200px;
  width: 200px;
  font-size: 125pt;
  font-family: arial;
  font-weight: bold;
  text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button, input[type=submit] {
  width: 50%;
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}